@use "./global.scss" as *;
@use "./partials/typography" as *;
@use "./partials/mixins" as *;
@use "./partials/variables" as *;

main {
  width: 100%;
  .hero {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-top: 2rem;

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: url("../images/pattern-bg.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      position: relative;
      width: 90vw;
      margin: auto;

      &--display {
        margin-top: 1.5rem;
        width: 65%;
        img {
          border-radius: 8px;
          box-shadow: 10px 25px 10px rgba(44, 44, 44, 0.2);
          max-width: 100%;
        }
      }

      &--button {
        position: absolute;

        bottom: -4%;

        border-radius: 30px;

        background-color: white;

        button {
          background: transparent;
          border: none;
          outline: none;
          margin: 0.3rem;

          :hover {
            transform: scale(1.4);
            transition: 1s;
          }
        }
      }
    }
    &__statement {
      background: url("../images/pattern-quotes.svg");
      background-repeat: no-repeat;
      background-position: top center;
      background-size: 4rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      &--des {
        font-size: 1.1rem;
        line-height: 1.5rem;
        font-family: Inter-Semi;
        color: black;
        text-align: center;
        margin: 1.5rem;
      }
      &--author {
        font-size: 1.1rem;
        font-family: Inter-Bold;
      }
      &--role {
        font-family: Inter-Normal;
        font-size: 1rem;
        margin-top: 0.2rem;
        color: $gray-blue;
      }
    }
  }
  .footer-image {
    width: 100%;
  }
  .previous--img {
    width: 70%;
    padding-bottom: 0.2rem;
  }
  .next--img {
    width: 70%;
    padding-bottom: 0.2rem;
  }
}
