@font-face {
  font-family: "Inter-Semi";
  src: url("../../font/Inter/Inter-VariableFont_slnt,wght.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Inter-Normal";
  src: url("../../font/Inter/Inter-VariableFont_slnt,wght.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Inter-Bold";
  src: url("../../font/Inter/Inter-VariableFont_slnt,wght.ttf") format("truetype");
  font-weight: 700;
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

html,
body, p,
main,
section,
footer,
h1,
h2,
h3,
h5,
img {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  font-size: 2rem;
}

main {
  width: 100%;
}
main .hero {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-top: 2rem;
}
@media (min-width: 1440px) {
  main .hero {
    flex-direction: row-reverse;
    gap: 0;
  }
}
main .hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../images/pattern-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  width: 100%;
  height: 50vh;
}
@media (min-width: 1440px) {
  main .hero__container {
    height: auto;
  }
}
main .hero__container--display {
  margin-top: 1.5rem;
  width: 60%;
}
main .hero__container--display img {
  border-radius: 8px;
  box-shadow: 10px 25px 10px rgba(44, 44, 44, 0.2);
  max-width: 100%;
}
@media (min-width: 1440px) {
  main .hero__container--display img {
    width: 100%;
  }
}
main .hero__container--button {
  position: absolute;
  bottom: -4%;
  border-radius: 30px;
  background-color: white;
}
main .hero__container--button button {
  background: transparent;
  border: none;
  outline: none;
  margin: 0.3rem;
  transition: all 2s;
  opacity: 1;
}
main .hero__container--button button :hover {
  transform: scale(1.4);
  transition: 1s;
}
main .hero__container--button button.hidden {
  opacity: 0;
}
main .hero__statement {
  background: url("../images/pattern-quotes.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1440px) {
  main .hero__statement {
    flex: 1;
    justify-content: center;
    margin-top: 7rem;
    background-size: 7rem;
  }
}
main .hero__statement--des {
  font-size: 1.1rem;
  line-height: 1.5rem;
  font-family: Inter-Semi;
  color: black;
  text-align: center;
  margin: 1.5rem;
}
@media (min-width: 1440px) {
  main .hero__statement--des {
    font-size: 2rem;
    margin-left: 4rem;
  }
}
main .hero__statement--author {
  font-size: 1.1rem;
  font-family: Inter-Bold;
}
main .hero__statement--role {
  font-family: Inter-Normal;
  font-size: 1rem;
  margin-top: 0.2rem;
  color: hsl(240, 18%, 77%);
}
main .footer-image {
  width: 100%;
}
main .previous--img {
  width: 70%;
  padding-bottom: 0.2rem;
}
main .next--img {
  width: 70%;
  padding-bottom: 0.2rem;
}/*# sourceMappingURL=index.css.map */