@use "./global.scss" as *;
@use "./partials/typography" as *;
@use "./partials/mixins" as *;
@use "./partials/variables" as *;

main {
  width: 100%;
  .hero {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-top: 2rem;

    @include desktop {
      flex-direction: row-reverse;
      gap: 0;
    }

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: url("../images/pattern-bg.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      position: relative;
      width: 100%;
      height: 50vh;
    //   @keyframes fade {
    //     from {opacity: .4} 
    //     to {opacity: 1}
    // }
    @include desktop{
      height: auto;
  
    }

      &--display {
        margin-top: 1.5rem;
        width: 60%;

        img {
          border-radius: 8px;
          box-shadow: 10px 25px 10px rgba(44, 44, 44, 0.2);
          max-width: 100%;
        
          @include desktop{
            width: 100%;
        
          }
        }
      }

      &--button {
        position: absolute;
        bottom: -4%;
        border-radius: 30px;
        background-color: white;

        button {
          background: transparent;
          border: none;
          outline: none;
          margin: 0.3rem;
          transition:all 2s;
          opacity:1;

          :hover {
            transform: scale(1.4);
            transition: 1s;
          }
        }
        button.hidden{
          opacity:0;
        }
      }
    }
    &__statement {
      background: url("../images/pattern-quotes.svg");
      background-repeat: no-repeat;
      background-position: top center;
      background-size: 4rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      @include desktop {
        flex:1;
        justify-content: center;
        margin-top: 7rem;

        background-size: 7rem;
      }

      &--des {
        font-size: 1.1rem;
        line-height: 1.5rem;
        font-family: Inter-Semi;
        color: black;
        text-align: center;
        margin: 1.5rem;

        @include desktop {
          font-size: 2rem;
          margin-left: 4rem;
        }
      }
      &--author {
        font-size: 1.1rem;
        font-family: Inter-Bold;
      }
      &--role {
        font-family: Inter-Normal;
        font-size: 1rem;
        margin-top: 0.2rem;
        color: $gray-blue;
      }
    }
  }
  .footer-image {
    width: 100%;
  }
  .previous--img {
    width: 70%;
    padding-bottom: 0.2rem;
  }
  .next--img {
    width: 70%;
    padding-bottom: 0.2rem;
  }
}
